datacenter = "{{nomad_dc}}"
data_dir = "/opt/nomad/data"

log_level = "DEBUG"

bind_addr = "{{ '{{' }} GetInterfaceIP \"enp0s8\" }}"

advertise {
  http = "{{ '{{' }} GetInterfaceIP \"enp0s8\" }}"
  rpc  = "{{ '{{' }} GetInterfaceIP \"enp0s8\" }}"
  serf = "{{ '{{' }} GetInterfaceIP \"enp0s8\" }}"
}

{% if nomad_enable_acl %}
acl {
  enabled = true
}
{% endif %}


{% if nomad_enable_client %}
client {
  enabled = true
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
    extra_labels = ["job_name", "job_id", "task_group_name", "task_name", "namespace", "node_name", "node_id"]
  }
}
{% endif %}

{% if nomad_enable_server %}
server {
  enabled = true
  bootstrap_expect = {{nomad_bootstrap_expect}}
  encrypt = "{{nomad_encrypt_key}}"
}
{% endif %}

consul {
  address = "{{consul_address}}:8500"
  {% if consul_acl_nomad_agent_token is defined %}
  token = "{{consul_acl_nomad_agent_token}}"
  {% endif %}
}

telemetry {
  collection_interval = "15s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
