datacenter = "{{consul_dc}}"
data_dir   = "/opt/consul"
log_level = "debug"
encrypt = "{{consul_encrypt_key}}"

retry_join           = [{{ (cluster_members)|map("to_json")|join(", ") }}]
bind_addr   = "{{ '{{' }} GetInterfaceIP \"enp0s8\" }}"
client_addr = "{{ '{{' }} GetInterfaceIP \"enp0s8\" }}"
connect {
  enabled = true
}

{% if consul_enable_server %}
server           = true
bootstrap_expect = {{consul_bootstrap_expect}}
{% endif %}

performance {
  raft_multiplier = 1
}

ports {
  grpc = 8502
  dns  = 53
}

ui_config {
  enabled = true
}
